@import url("./dark.css");
@import url("https://indestructibletype.com/fonts/Jost.css");

li 
{
    float: left;
}

.active 
{
    background: linear-gradient(#00881d, #00440f);
}

ul 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Jost;
}

body
{
    font-family: Jost;
}

li a, .dropbtn
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarLogo
{
    background: url("/assets/images/branding/LOGO3E.png");
    width: 178.5px;
    height: 51px;
    background-size: 178.5px 51px;
    background-repeat: no-repeat;
    background-position: center;
}
