li {
    float: left;
}

.active {
    /*background-color: #00881d;*/
    background: linear-gradient(#00881d, #00440f);
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    /*background: linear-gradient(#4b4b4b, #252525);*/
    font-family: Jost;
}

.defaultText {
    font-family: Jost;
}

li a, .dropbtn {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
