li a, .dropbtn 
{
    color: white;
}

li a:hover, .dropdown:hover .dropbtn 
{
    background: linear-gradient(#2E2E2E, #0E0E0E);
}

ul 
{
    background: linear-gradient(#454545, #202020);
}

body
{
    color: rgb(226, 226, 226);
    background-color: #151515;
}
