li a, .dropbtn {
    color: rgb(0, 0, 0);
}

li a:hover {
    /*background-color: rgb(150, 150, 150);*/
    background: linear-gradient(#969696, #565656);
}

ul {
    /*background-color: #cccccc;*/
    background: linear-gradient(#FFFFFF, #BBBBBB);
}

.defaultText {
    color: rgb(0, 0, 0);
}

body {
    background-color: #ffffff;
}