    #titleframe {
        -ms-zoom: 1.5;
        -moz-transform: scale(1.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(1.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(1.5);
        -webkit-transform-origin: 0 0;
        position:absolute;
        top:0px;
        left:90px;
    }
    #infoframe {
        position:absolute;
        top:25px;
        left:95px;
    }