---
title: Social
navbarselected: Socials
layout: default
---

<link rel="stylesheet" property="stylesheet" href="social.css" />

<script src="/assets/scripts/general/urlparameters.js"></script>

<script>
    function GetSocialURL(id)
    {
        if (id == null)
        {
            return "";
        }
        switch (id.toLowerCase())
        {
            //{% for social in site.data.socials %}
            //{% assign alts = social.alts | split: "," %}
            //{% for alt in alts %}
            case "{{ alt }}":
            //{% endfor %}
            case "{{ social.name }}".toLowerCase():
                return "{{ social.url }}";
            //{% endfor %}
            default:
                return "";
        }
    }

    function OpenSocial(id, newWindow = true)
    {
        var _redirectURL = GetSocialURL(id);
        if (_redirectURL != "")
        {
            window.open(_redirectURL, newWindow ? "_blank" : "_self");
        }
    }

    OpenSocial(urlParameters.get("r"), false);
</script>

<div style="text-align: center;">
    {% for social in site.data.socials %}
    <button onclick="OpenSocial('{{ social.name }}')" class="buttons"><img src="./logos/{{ social.icon }}" alt="{{ social.name }}" class="logos"></button>
    {% endfor %}
</div>
